<mat-toolbar color="primary" class="mat-elevation-z4">

  <button mat-button [matMenuTriggerFor]="menu" class="menu-button">
    <mat-icon>menu</mat-icon>
    INICIO
  </button>

  <span class="my-spacer"></span>

  <span class="mat-subheading-2" style="margin: 0;">{{fecha}}</span>

</mat-toolbar>

<!-- menu -->
<mat-menu #menu="matMenu" [overlapTrigger]="false">
  <a mat-menu-item routerLink="/ventas">
    <mat-icon>shopping_cart</mat-icon>
    Ventas
  </a>
  <mat-divider></mat-divider>
  <button mat-menu-item disabled>
    <mat-icon style="color: rgba(0,0,0,0.2);">group</mat-icon>
    Clientes
  </button>
  <button mat-menu-item disabled>
    <mat-icon style="color: rgba(0,0,0,0.2);">bookmarks</mat-icon>
    Articulos
  </button>
  <button mat-menu-item disabled>
    <mat-icon style="color: rgba(0,0,0,0.2);">settings</mat-icon>
    Configuraciones
  </button>
</mat-menu>
<!-- termina menu -->